/* General */
p {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.btn.btn-primary.btn-lg {
    color: black !important;
    background-color: #84B1E0 !important;
    border: none;
}


/* Homepage */
#covid {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }


#logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

#logoMain {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img a {
    padding: 5px; 
    max-height: 50%;
}

.header {
    background-color: #84B1E0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navBar {
    background-color: white;
}

.navIcons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navItem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bolder;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: black !important;
    font-weight: bold !important;
}

.nav-item {
    font-size: large !important;
    padding-left: 70px !important;
    padding-right: 70px !important;
}

.news {
    padding-bottom: 20px;
}


.jumbotron {
    background-image: url("../images/babyFoot.png");
    background-size: cover;
    color: white;
    height: 600px;
  }

.jumbotronCommunity {
    background-image: url("../images/feeding.jpg") !important;
    background-size: cover;
    color: white;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);
    height: 400px;
    }

.jumboText {
    padding-left: 30px;
}

/* Testimonials */
.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
}

/* Recent News */
.news h2 {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.recentNews {
    padding-bottom: 20px;
}

/* Footer */
.footer {
    background-color: #84B1E0;
    padding-bottom: 15px;
    padding-top: 15px;
}

.footerItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-secondary {
    color: black !important;
}

.footerText {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* About Us */
#getInvolved {
    background-image: url(../images/dad.jpg);
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);
    color: white;
}

.aboutItem h2 {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.donateBtns {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.giveBtns {
    display: flex;
    justify-content: space-around;
}

.btn-circle.btn-xl { 
    width: 120px; 
    height: 120px; 
    /* padding: 10px 16px;  */
    border-radius: 60px; 
    font-size: 14px; 
    text-align: center; 
} 

#testimonials {
    background-color: white;
}

.testimonialHeadline {
    padding-bottom: 0px;
}

.blockquote-custom {
    position: relative;
    font-size: 1.1rem;
  }

  /* .quoteCards {
      margin-top: none !important;
  } */

#aboutUs {
    background-color: #84B1E0;
    padding-bottom: 20px;
}

#history {
    background-image: url(../images/pump.png);
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);
    color: white;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFEFEF;
    padding-bottom: 20px;
    padding-top: 20px;
}

.address {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

/* Community page */
.communityBtns {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.comBtns {
    display: flex;
    justify-content: space-around;
}

.posts {
    padding-left: 75px;
}

/* Milk Pages */
.choiceBtns {
    padding-top: 2em;
}

/* .milkForm {
    background-color:bisque;
} */

/* .milkPage {
    background-color: black;
} */

.white {
    color: white;
}

.formBox {
    margin: 3em;
    background-color: white;
}

.milkCard {
    padding: 2em;
}

.milkCopy {
    padding: 50px;
}

#milkMap {
    max-width: 75%;
    max-height: auto;
}

.formTitle {
    text-align: center;
    padding-bottom: 1em;
}

.form-total-labels {
    justify-content: right;
}

.formText {
    padding-bottom: 2em;
}

.accounting {
    padding-top: 2em;
}

.acceptTerms {
    padding-top: 3em;
}

h1.white {
    padding-bottom: 1em;
}

.choiceBtns {
    display: flex;
    justify-content: space-between;
}

.milkPage {
    background-image: url(../images/babyChest.jpg);
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);
}

.milkPageShort {
    height: 700px;
}

/* Modal */
.modal-login {
	width: 320px;
}
.modal-login .modal-content {
	border-radius: 1px;
	border: none;
}
.modal-login .modal-header {
	position: relative;
	justify-content: center;
	background: #f2f2f2;
}
.modal-login .modal-body {
	padding: 30px;
}
.modal-login .modal-footer {
	background: #f2f2f2;
}
.modal-login h4 {
	text-align: center;
	font-size: 26px;
}
.modal-login label {
	font-weight: normal;
	font-size: 13px;
}
.modal-login .form-control, .modal-login .btn {
	min-height: 38px;
	border-radius: 2px; 
}
.modal-login .hint-text {
	text-align: center;
}
.modal-login .close {
	position: absolute;
	top: 15px;
	right: 15px;
}
.modal-login .checkbox-inline {
	margin-top: 12px;
}
.modal-login input[type="checkbox"] {
	position: relative;
	top: 1px;
}
.modal-login .btn {
	min-width: 100px;
	background: #3498db;
	border: none;
	line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
	background: #248bd0;
}
.modal-login .hint-text a {
	color: #999;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}

